@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #363030;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.logo{
    text-decoration: none;
    color: wheat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: wheat;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    
}
.navigation a:hover{
    color: hsl(0, 13%, 62%);
}

section{
    padding: 100px 200px;
}
.infoContent{
    display: flex;
    justify-content: space-between;
}
.myInfo{
    width: 100%;
}
.imgInfo{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("images/back3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.myImg{
    width: 40%;
    border-radius: 20px;
    
}
.main h2{
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}

.main h2 span{
    color: #5b5555;
    font-size: 2.2em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}
.main h3{
    display: flex;
    text-align: justify;
    color: black;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mainBtn{
    color: wheat;
    background-color: #363030;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 35px;
    transition: 0.5s ease;
}

.mainBtn:hover{
    background-color: #6a5555;
    transform: scale(1.1);
}

.socialIcons a{
    color: black;
    font-size: 1.7em;
    padding: 0px 20px;
    transition: 0.5s ease;
}
.socialIcons:hover a{
    color: #363030;
    font-size: 2em;
    padding: 0px 20px;
    transform: scale(1.1);
}
.leetImg{
    
    display: inline-block;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    color: black;
}

.content{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    color: aliceblue;
    background-color:#363030 ;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.5);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
}
.icon{
    font-size: 4em;
    text-align: center;
}
.info{
    text-align: justify;
}

.info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px
}
.projects{
    background-color: wheat;
}

.projects.content{
    margin-top: 30px;
}

.projectCard{
    background-color: white;
    border: 1px solid black;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projectCard:hover{
    transform: scale(1.1);
}
.projectImage img{
    width: 100%;
}

.projectCard:hover .projectImage{
    opacity: 0.7;
}

.projectInfo{
    padding: 1em;
}
.projectCategory{
    font-size: 0.9em;
    text-align: justify;
}
.projectTitle{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.moreDetails{
    color: #685e5e;
}

.moreDetails:hover{
color: wheat;
}

.contact .icon{
    color: wheat;
    font-size: 3em;
}

.contact .info h3{
    color: wheat;
}

.contact .info p{
    font-size: 0.9em;
}
.arrowImg{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.arrowImg img{
    height: 3em;
    width: 3em;
    margin: 10px 30px;
    
}

.info p a{
    color: wheat;
}
.info:hover p a {
    color: blue;
}
.info p{
    color: wheat;
}
.foot{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background-color: #363030;
    color:wheat
}

.iconsFooter{
    
    font-size: 1em;
    display: flex;
    justify-content: space-around;
}
.foot span{
    color: rgb(253, 246, 233);
}
.skillsContainer{
    width: 80%;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.5);
    margin: auto;
    margin-top: 80px;
    background-color: wheat;
    border: 1px wheat solid;
    border-radius: 10px;
    transition: 0.5s ease;
}
.skillsContainer:hover{
    transform: scale(1.05);
}
.iconsFooter a{
    color: wheat;
    padding: 0px 0.5em;
}

.skills{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.skills img{
    width: calc(100%/20);
    margin: 5px;
    height: 2.7em;
}
.educationContainer{
    
}
.eductaion{
    display: flex;
}
.education ul{
    margin: 50px;
    margin-top: 20px;
    font-size: 17px;
}

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
    .skillsContainer{
        width: 120%;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 0.5);
        margin: auto;
        margin-top: 80px;
        background-color: wheat;
        border: 1px wheat solid;
        border-radius: 10px;
        transition: 0.5s ease;
    }

}

@media (max-width:641px) {
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
}

@media (max-width=300px) {
    body{
        font-size: 10px;
    }
}